@import "tailwindcss";

.blur-bg {
    background: linear-gradient(135deg, rgba(0, 255, 0, 0.05), rgba(255, 0, 0, 0.03), rgba(0, 0, 255, 0.05));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); /* For Safari */
    padding: 2rem;
    color: #fff;
    position: absolute;
    opacity: 1;
    z-index: -1;
}

.__loader__ {
    width: 100px;
    height: 100px;
    border: 6px solid;
    border-top: 6px solid blue;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.2, 0.5, 0.4, 1) infinite;
}

.__loaderAuth__ {
    width: 20px;
    height: 20px;
    border: 2px solid ;
    border-top: 6px solid blue;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.2, 0.5, 0.4, 1) infinite;
}



